body{
    /* border: 5px solid red; */
    margin: 0;
}
*{
    font-family: "Roboto", serif;
}

/* Styling for the heading */
.header-container {
    height: 25%;
    background-color: #1f2937;
    padding-left: 100px;
    padding-right: 100px;
}
#header-logo {
    font-size: 24px;
    color: #F9FAF8
}
#header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 15px;
}
.header-top {
    display: flex;
    flex: auto;
    padding-top: 0px;
    justify-content: space-between;
}
.header-link-wrapper {
    display: flex;
    justify-content: space-betweenS;
}
.header-content {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
#hero-text-main{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}
#hero-text-second {
    font-size: 18px;
    color: #E5E7EB;
}
.hero-text-container {
    
    flex-grow: 1;
    width: 30%;
}
.image-container{
    flex-grow: 1;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb72;
}
.image-text {
    color: white;
    font-size: 18px;
}
#sign-up{
    background-color: #3882F6;
    border: 0px;
    height: 30px;
    width: 85px;
    border-radius: 6px;
    color: #F9FAF8;
    margin: 5px;
}


/* Style for subsection 2 */

.subsection-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sub-heading {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.sub-content {
    display: flex;
}

.sub-img-container {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.sub-img {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.info-text {
    font-size: 18px;
    color: #1f2937;
    max-width: 165px;
    text-align: center;
}

/* Quote section styling */

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: end;    
    align-items: center;
  
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    max-width: 800px ;
}
.person-wrapper {
    width: 800px;
    display: flex;
    justify-content: end;
}
.person {
    color: #1f2937;
    font-size: 18px;
    font-weight: 500;
    align-self: flex-end;
}

/* Section three begins */

.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 400px ;
}

.action-container {
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 50px 180px ;
    margin: 30px 0;
    flex: auto;
}
.action-text-wrapper {
}
.action-slogan {
    color:#F9FAF8 ;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}
.action-slogan-second {
    color:#F9FAF8 ;
    font-size: 18px;
    font-weight: 200;
    margin: 0;
}
.action-signup {
    width: 150px;
    height: 40px;
    font-size: medium;
    color: #F9FAF8;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
}

.footer-container {
    height: 90px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text{
    color:#F9FAF8 ;
    font-size: 18px;
    font-weight: 400;
}